#home {
  .checkbox {
    margin-top: 0;
    display: inline-block;
    min-width: 110px;
  }
  .checkbox + .checkbox {
    margin-top: 0;
  }
  #movie_type, #genres {
    > div {
      margin-top: 2rem;
      margin-left: 2rem;
      width: 15rem;
    }
  }
  #imdb_rating, #quality{
    div {
      margin-left: 2rem;
      margin-top: 2rem;
    }
  }
  #genres .container{
    overflow: scroll;
    height: 9rem;
    width: 60rem;
  }
  .movies_table {
    width: 80rem;
    margin-top: 2rem;
    table thead {
        th {
            background-color: black;
            color: white;
            text-align: center;
        }
        th:last-child{ min-width: 250px;}
    }
    table tbody {
        tr {text-align: center;}
        tr td:nth-child(1) {text-align: left;}
        tr td:nth-child(2) {white-space: nowrap;}
    }
    //table tbody {
    ////  height: 50rem;       /* Just for the demo          */
    //  overflow: scroll;
    //}
    height: 50rem;       /* Just for the demo          */
    overflow: scroll;
    th {
      padding: 1rem;
    }
  }
  #threed {
    margin-left: 13rem;
  }
}