<template name="home">
    <div id="home">
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Private Movie searcher</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons}} <!-- here -->
                </ul>
            </div>
        </div>
        <div style="float: left">
            <div class="row" id="movie_type">
                <div class="col-sm-2"><label>I'm looking for:</label></div>
                <div class="col-sm-1 checkbox">
                    <label>
                        <input id="movies" type="checkbox" name="type"> Movies
                    </label>
                </div>
                <div class="col-sm-1 checkbox">
                    <label>
                        <input id="TV" type="checkbox" name="type"> TV Series
                    </label>
                </div>
            </div>
            <div class="row" id="genres">
                <div class="col-sm-1"><label>Genres:</label>
                    <ul class="list-group" id="genres">
                        <div class="container">
                            <form role="form">
                                {{#each genres}}
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" checked id="{{this}}"> {{this}}
                                        </label>
                                    </div>
                                {{/each}}
                            </form>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="row" id="imdb_rating">
                <div class="col-sm-2"><label>Minimum IMDB rating:</label></div>
                <div style="width:40rem" class="col-sm-12 btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default">1</button>
                    <button type="button" class="btn btn-default">2</button>
                    <button type="button" class="btn btn-default">3</button>
                    <button type="button" class="btn btn-default">4</button>
                    <button type="button" class="btn btn-default">5</button>
                    <button type="button" class="btn btn-default">6</button>
                    <button type="button" class="btn btn-default">7</button>
                    <button type="button" class="btn btn-default">8</button>
                    <button type="button" class="btn btn-default">9</button>
                </div>
            </div>
            <div class="row" id="quality">
                <div class="col-sm-2"><label>Quality from:</label></div>
                <div class="col-sm-2 dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        min
                        <span class="caret"></span>
                    </button>
                    <ul id="from" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">720p</a></li>
                        <li><a href="#">1080p</a></li>
                    </ul>
                </div>
                <div class="col-sm-2"><label>to:</label></div>
                <div class="col-sm-2 dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        max
                        <span class="caret"></span>
                    </button>
                    <ul id="to" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">720p</a></li>
                        <li><a href="#">1080p</a></li>
                    </ul>
                </div>
            </div>
            <div class="row" id="threed">
                <div class="col-sm-1 checkbox">
                    <label>
                        <input type="checkbox" name="type"> 3D
                    </label>
                </div>
            </div>
        </div>
        <div display="float:right">
            <div class="col-sm-8 movies_table">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th data-sortable="true">Name</th>
                            <th data-sortable="true">Release date</th>
                            <th data-sortable="true">Quality</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each movies}}
                            <tr id="{{this._id}}">
                                <td data-field="name">
                                    <img src="{{this.image}}" width="40" height="60">
                                    {{this.title}}
                                </td>
                                <td data-field="date">{{this.release_date}}</td>
                                <td data-field="res">{{torrents.[0].quality}}</td>
                                <td>
                                    <a href="{{torrents.[0].url}}" class="dropbox-saver">Download</a>
                                    {{> info }}
                                    <button class="btn btn-danger">Delete</button>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="modal fade info">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ m_info.title }}</h4>
                    </div>
                    <div class="modal-body">
                        <img src="{{ m_info.image }}"/>
                        <p>{{ m_info.overview }}</p>
                        <iframe id="trailer_frame" width="320" height="180" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</template>